.container {
  max-width: 52.5rem;
  width: 100%;

  padding-bottom: 5rem;
  height: 100vh;

  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

header {
  span.category {
    margin-top: 0.5rem;

    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray);
  }

  span {
    color: var(--white);
  }
}

main {
  width: 100%;
  margin-top: 5.625rem;

  .movies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4.75rem;
    list-style: none;

    margin: 0 4rem;
  }
}